.result {
    &-page {
        background: salmon;
        height: 100%;
    }
    &-button {
        &-group {
            display: flex;
            position: fixed;
            bottom: 20rpx;
            width: 100%;
            box-sizing: border-box;
            padding: 0 40rpx;
        }
        flex: 1;
        height: 60rpx;
        line-height: 60rpx;
        background: #e5004f;
        color: #fff;
        font-size: 30rpx;
        margin-right: 30rpx;
        border-radius: 30rpx;
        text-align: center;
    }
    &-qrcode {
        position: fixed;
        display: flex;
        bottom: 100rpx;
        height: 150rpx;
        width: 100%;
        box-sizing: border-box;
        background: darkseagreen;
        align-items: center;
        &-text {
            font-size: 26rpx;
            color: #fff;
            flex: 1;
            padding-left: 100rpx;
        }
        &-image {
            flex-basis: 150rpx;
            background: gold;
            height: 100%;
        }

    }
}