.list {
    &-page {
        padding: 100rpx 40rpx 40rpx;
        background: {
            image: url('https://ilmsf-1257950182.cos.ap-chengdu.myqcloud.com/datibg.png');
            repeat: repeat-y;
            size: cover;
        }
    }
    &-item {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        height: 150rpx;
        padding: 20rpx;
        background-color: #fff;
        border: 2rpx solid saddlebrown;
        border-radius: 10rpx;
        margin-bottom: 20rpx;
        &-avatar {
            width: 100rpx;
            height: 100rpx;
            margin-right: 20rpx;
            image {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        &-starinfo {
            flex: 1;
            margin-right: 20rpx;
            &_name {
                font-size: 28rpx;
            }
            &_hot {
                font-size: 24rpx;
            }
        }
        &-button {
            width: 150rpx;
            height: 60rpx;
            line-height: 60rpx;
            text-align: center;
            font-size: 28rpx;
            background: sandybrown;
            color: sienna;
            border-radius: 30rpx;
        }
    }
}